.bgcolor {
    background-color: #ffffff;
}
.ant-btn {
    margin-right: 8px;
}
.rowBorder {
    padding: 15px;
    background-color: #ffffff;
}
.pdlr20 {
    margin-left: 20px;
    margin-right: 20px;
}
.paddtb15 {
    margin-top: 15px;
    margin-bottom: 15px;
}
.pt15 {
    padding-bottom: 15px;
}
.tr {
    text-align: right;
}
.tc {
    text-align: center;
}

.contentMain {
    width: 100%;
    height: calc(100% - 49px);
    background: #ffffff;
    overflow-y: auto;
}

/**滚动轴样式设置**/
.ant-table:hover .ant-table-content .ant-table-fixed-right .ant-table-body-outer .ant-table-body-inner::-webkit-scrollbar-thumb {
    background-color: #999;
}

.ant-table .ant-table-content .ant-table-fixed-right .ant-table-body-outer .ant-table-body-inner::-webkit-scrollbar-thumb {
    background-color: #f5f5f5;
}

::-webkit-scrollbar {
    // width: 8px;
    // height: 8px;
    width: 0px;
    height: 0px;
    background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    background-color: #999;
    // border-radius: 8px;
    border-radius: 0px;
}
