.bgcolor {
    background-color: #ffffff;
}
.ant-btn {
    margin-right: 8px;
}
.rowBorder {
    padding: 15px;
    background-color: #ffffff;
}
.pdlr20 {
    margin-left: 20px;
    margin-right: 20px;
}
.paddtb15 {
    margin-top: 15px;
    margin-bottom: 15px;
}
.pt15 {
    padding-bottom: 15px;
}
.tr {
    text-align: right;
}
.tc {
    text-align: center;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.cl {
    clear: both;
}

.contentMain {
    width: 100%;
    height: calc(100% - 49px);
    background: #ffffff;
    overflow-y: auto;
}
.pink {
    color: pink;
}
.red {
    color: red;
}
.yellow {
    color: yellow;
}
.orange {
    color: orange;
}
.cyan {
    color: cyan;
}
.green {
    color: green;
}
.blue {
    color: blue;
}
.purple {
    color: purple;
}
.geekblue {
    color: geekblue;
}
.magenta {
    color: magenta;
}
.volcano {
    color: volcano;
}
.gold {
    color: gold;
}
.lime {
    color: lime;
}

/**滚动轴样式设置**/
.ant-table:hover .ant-table-content .ant-table-fixed-right .ant-table-body-outer .ant-table-body-inner::-webkit-scrollbar-thumb {
    background-color: #999;
}

.ant-table .ant-table-content .ant-table-fixed-right .ant-table-body-outer .ant-table-body-inner::-webkit-scrollbar-thumb {
    background-color: #f5f5f5;
}

.contentMain::-webkit-scrollbar {
    // width: 8px;
    // height: 8px;
    width: 0px;
    height: 0px;
    background-color: #f5f5f5;
}

.contentMain::-webkit-scrollbar-thumb {
    background-color: #999;
    // border-radius: 8px;
    border-radius: 0px;
}
//表格部分over
.ant-table-body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #f5f5f5;
}

.ant-table-body::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 8px;
}
